<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/questions.css">
    <script src="/static/scripts/questions.js" defer></script>
    <title>Questions</title>
</head>

<body>
    <header>
        <a class="a-back" href="/">Exit</a>
    </header>

    <main>
        <div class="bg">
            <h1 id="question">¿Cuál es el color del agua?</h1>
            <div class="answers">
                <label>
                    <input type="radio" name="answer" class="answer" value="">
                    <span class="answer-text"></span>
                </label>
                <br>
                <label>
                    <input type="radio" name="answer" class="answer" value="">
                    <span class="answer-text"></span>
                </label>
                <br>
                <label>
                    <input type="radio" name="answer" class="answer" value="">
                    <span class="answer-text"></span>
                </label>
                <br>
                <label>
                    <input type="radio" name="answer" class="answer" value="">
                    <span class="answer-text"></span>
                </label>
                <br>
            </div>
            <a href="endgame" id="finish" class="btn-ini disable">Finish game</a>
            <a href="questions" id="next" class="btn-ini disable">Next</a>
        </div>
    </main>
</body>

</html>